<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению. Сессия № 3
Автор материала: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center> Домашнее задание № 1
## <center> Анализ данных по сердечно-сосудистым заболеваниям
*Идеальный просмотр Jupyter notebooks возможен только локально, GitHub и nbviewer могут неправильно отбражать формулы или картинки.*

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным о сердечно-сосудистых заболеваниях (качать данные не надо, они уже есть в репозитории). Данные использовались в соревновании [Ml Boot Camp 5](http://mlbootcamp.ru/round/12/sandbox/).**

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://docs.google.com/forms/d/1KbWiGlupiSwYlqc8nmV6KjB3vNTI0C5hxZ6Tq3ZU4QA).**

В соревновании предлагалось определить наличие/отсутствие сердечно-сосудистых заболеваний (ССЗ) по результатам осмотра пациента.

**Описание данных.**

Датасет сформирован из реальных клинических анализов, и в нём используются признаки, которые можно разбить на 3 группы:

Объективные признаки:

 - Возраст (age)
 - Рост (height)
 - Вес (weight)
 - Пол (gender)
 

Результаты измерения:

 - Артериальное давление верхнее и нижнее (ap_hi, ap_lo)
 - Холестерин (cholesterol)
 - Глюкоза (gluc)
 

Субъективные признаки (со слов пациентов):

 - Курение (smoke)
 - Употребление алкоголя (alco)
 - Физическая активность (active)
 
Целевой признак (который интересно будет прогнозировать):
 - Наличие сердечно-сосудистых заболеваний по результатам классического врачебного осмотра (cardio)

Значения показателей холестерина и глюкозы представлены одним из трех классов: норма, выше нормы, значительно выше нормы. Значения субъективных признаков — бинарны.

Все показатели даны на момент осмотра.

Мы будем работать только с обучающей выборкой и с помощью `Pandas` проведем первичный анализ данных.

Из библиотек нам понадобятся только `NumPy` и `Pandas`.

In [2]:
import numpy as np
import pandas as pd

Считываем данные из CSV-файла в объект pandas DataFrame.

In [4]:
df = pd.read_csv('../../data/mlbootcamp5_train.csv', sep=';', 
                 index_col='id')

Посмотрим на первые 5 записей.

In [3]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

**<font color='red'>Вопрос 1 (1 балл).</font> Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" (какому полу соответствует 1, а какому – 2 в признаке ``gender``) – это определите, посмотрев также на рост при разумном предположении, что в среднем мужчины выше (здесь и далее под средним понимается среднее арифметическое).**

**<font color='red'>Варианты:</font>**
- 45470 женщин и 24530 мужчин
- 45470 мужчин и 24530 женщин
- 45530 женщин и 24470 мужчин
- 45530 мужчин и 24470 женщин

In [4]:
# Ваш код здесь
df.groupby(df.gender).height.mean()

gender
1    161.355612
2    169.947895
Name: height, dtype: float64

In [5]:
def number_to_sex(number):
    if number == 1:
        return "female"
    else:
        return "male"

In [6]:
# Для удобства заменим столбец с полом на более явное описание
df.gender = df.gender.apply(number_to_sex)

In [7]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,male,168,62.0,110,80,1,1,0,0,1,0
1,20228,female,156,85.0,140,90,3,1,0,0,1,1
2,18857,female,165,64.0,130,70,3,1,0,0,0,1
3,17623,male,169,82.0,150,100,1,1,0,0,1,1
4,17474,female,156,56.0,100,60,1,1,0,0,0,0

In [8]:
df.gender.value_counts()

female    45530
male      24470
Name: gender, dtype: int64

**<font color='red'>Вопрос 2 (1 балл).</font> Кто в среднем реже указывает, что употребляет алкоголь – мужчины или женщины?**

**<font color='red'>Варианты:</font>**
- мужчины 
- женщины

In [28]:
# Ваш код здесь
alco_ratio_by_gender = df.groupby(df.gender).alco.mean()
alco_ratio_by_gender

gender
female    0.025500
male      0.106375
Name: alco, dtype: float64

**Ответ: Женщины реже указывают, что употребляют алкоголь**

**<font color='red'>Вопрос 3 (1 балл).</font> Во сколько раз (округленно, `round`) процент курящих среди мужчин больше, чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?**

**<font color='red'>Варианты:</font>**
- 4
- 8
- 12
- 16

In [10]:
# Ваш код здесь
smoking_man_over_smoking_women = int(round(smoke_ratio_by_gender.male / smoke_ratio_by_gender.female))
print("Мужчины курят в {} чаще, чем женщины.".format(smoking_man_over_smoking_women))

Мужчины курят в 12 чаще, чем женщины.

**<font color='red'>Вопрос 4 (1 балл).</font> Вы наверняка заметили, что значения возраста какие-то странные. Догадайтесь, в чём здесь измеряется возраст, и ответьте, на сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих.**

**<font color='red'>Варианты:</font>**
- 10
- 15
- 20
- 25

In [11]:
# Ваш код здесь
df.age.mean()

19468.865814285713

In [12]:
days_per_year = 365
df.age.mean() / days_per_year

53.33935839530332

Похоже, что возраст дан в днях

In [13]:
median_age_groupped_by_smoke = df.groupby(df.smoke).age.median()
median_age_groupped_by_smoke

smoke
0    19722
1    19125
Name: age, dtype: int64

In [14]:
days_per_month = 30
smoking_vs_nonsmoking_age_difference_in_days = int(round(
    (median_age_groupped_by_smoke[0] - median_age_groupped_by_smoke[1]) / days_per_month ))
print("Разница медиан возраста между курящими и некурящими составляет {} месяцев".format(
    smoking_vs_nonsmoking_age_difference_in_days))

Разница медиан возраста между курящими и некурящими составляет 20 месяцев

**<font color='red'>Вопрос 5 (2 балла).</font> В [статье](https://ru.wikipedia.org/wiki/Сердечно-сосудистый_риск) на Википедии про сердечно-сосудистый риск показана шкала SCORE для расчёта риска смерти от сердечно-сосудистого заболевания в ближайшие 10 лет. Вот она:**
<img src='https://habrastorage.org/webt/gg/38/vf/gg38vfl5ql8obqjmlsvt9es76p8.png' width=70%>

Давайте посмотрим на правый верхний прямоугольник, отображающий сегмент курящих мужчин в возрасте от 60 до 64 лет включительно. (Неочевидно, но тут для возраста и давления цифры означают верхнюю границу, и она не включается).

Видим 9-ку в левом нижнем углу этого прямоугольника и 47 – в правом верхнем. То есть если при этом систолическое (т.е. верхнее) артериальное давление – меньше 120 мм рт.ст., а уровень холестерина – 4 ммоль/л, то риск ССЗ оценивается примерно в 5 раз ниже, чем если бы давление лежало в интервале [160, 180), а холестерина было бы 8 ммоль/л.

Давайте посчитаем аналогичное значение, но на наших данных. 

Уточнения:
- Создайте новый признак ``age_years`` – возраст в годах, округлив до целых (`round`). Для данного примера отберите курящих мужчин от 60 до 64 лет включительно
- Категории уровня холестрина на рисунке и в наших данных отличаются. Отображение значений на картинке в значения признака ``cholesterol`` следующее: 4 ммоль/л $\rightarrow$ 1, 5-7 ммоль/л $\rightarrow$ 2, 8 ммоль/л $\rightarrow$ 3.
- Интересуют 2 подвыборки курящих мужчин возраста от 60 до 64 лет включительно: первая с верхним артериальным давлением строго меньше 120 мм рт.ст. и концентрацией холестерина – 4 ммоль/л, а вторая – с верхним артериальным давлением от 160 (включительно) до 180 мм рт.ст. (не включительно) и концентрацией холестерина – 8 ммоль/л.

Во сколько раз (округленно, `round`) отличаются доли больных людей (согласно целевому признаку, `cardio`) в этих двух подвыборках? Посчитайте на наших данных.

**<font color='red'>Варианты:</font>**
- 2
- 3
- 4
- 5

In [15]:
# Ваш код здесь
df["age_years"] = round(df.age / days_per_year)

old_males = df[((df.smoke) & (df.age_years >= 60) & (df.age_years <= 64))]
healthier_old_males = old_males[(old_males.ap_hi < 120) & (old_males.cholesterol == 1)]
less_healthy_old_males = old_males[(old_males.ap_hi >= 160) & (old_males.ap_hi < 180) & (old_males.cholesterol == 3)]

In [16]:
less_healthy_over_healthy_sick_ratio = less_healthy_old_males.cardio.value_counts(normalize=True)[1] / \
                                       healthier_old_males.cardio.value_counts(normalize=True)[1]
print("Доли больных отличаются в {} раз(а)".format(int(round(less_healthy_over_healthy_sick_ratio))))

Доли больных отличаются в 3 раз(а)

**<font color='red'>Вопрос 6 (2 балла).</font> Постройте новый признак – BMI ([Body Mass Index](https://en.wikipedia.org/wiki/Body_mass_index)). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.**

**<font color='red'>Утверждения:</font>**
- Медианный BMI по выборке превышает норму
- У женщин в среднем BMI ниже, чем у мужчин
- У здоровых в среднем BMI выше, чем у больных
- В сегменте здоровых и непьющих мужчин в среднем BMI ближе к норме, чем в сегменте здоровых и непьющих женщин

In [17]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years
id,,,,,,,,,,,,,
0,18393,male,168,62.0,110,80,1,1,0,0,1,0,50.0
1,20228,female,156,85.0,140,90,3,1,0,0,1,1,55.0
2,18857,female,165,64.0,130,70,3,1,0,0,0,1,52.0
3,17623,male,169,82.0,150,100,1,1,0,0,1,1,48.0
4,17474,female,156,56.0,100,60,1,1,0,0,0,0,48.0

Похоже, что вес уже дан в килограммах, а вот рост - в сантиметрах.

In [18]:
# Ваш код здесь
centimeters_in_meter = 100
df["BMI"] = df.weight / ((df.height/centimeters_in_meter)**2)

In [19]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years,BMI
id,,,,,,,,,,,,,,
0,18393,male,168,62.0,110,80,1,1,0,0,1,0,50.0,21.967120
1,20228,female,156,85.0,140,90,3,1,0,0,1,1,55.0,34.927679
2,18857,female,165,64.0,130,70,3,1,0,0,0,1,52.0,23.507805
3,17623,male,169,82.0,150,100,1,1,0,0,1,1,48.0,28.710479
4,17474,female,156,56.0,100,60,1,1,0,0,0,0,48.0,23.011177

In [20]:
# 1. Медианный BMI по выборке превышает норму
print("Медианный BMI по выборке: {:.1f}".format(df.BMI.median()))

Медианный BMI по выборке: 26.4

**Ответ 1: Медианный BMI по выборке превышает норму - верно**

In [21]:
# 2. У женщин в среднем BMI ниже, чем у мужчин
df.groupby(df.gender).BMI.mean()

gender
female    27.987583
male      26.754442
Name: BMI, dtype: float64

**Ответ 2: У женщин в среднем BMI ниже, чем у мужчин - НЕверно**

In [22]:
# 3. У здоровых в среднем BMI выше, чем у больных
df.groupby(df.cardio).BMI.mean()

cardio
0    26.548175
1    28.566061
Name: BMI, dtype: float64

**Ответ 3:  У здоровых в среднем BMI выше, чем у больных - НЕверно**

In [23]:
# 4. В сегменте здоровых и непьющих мужчин в среднем BMI ближе к норме, чем в сегменте здоровых и непьющих женщин
df.groupby([df.cardio, df.smoke, df.gender]).BMI.mean()[0, 0]

gender
female    26.887217
male      25.927669
Name: BMI, dtype: float64

**Ответ 4: В сегменте здоровых и непьющих мужчин в среднем BMI ближе к норме, чем в сегменте здоровых и непьющих женщин - верно**

**<font color='red'>Вопрос 7 (2 балла).</font> ** Можно заметить, что данные не особо-то чистые, много в них всякой "грязи" и неточностей. Еще лучше мы это увидим, когда обсудим визуализацию данных.

Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных)
- указанное нижнее значение артериального давления строго выше верхнего
- рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили (используйте `pd.Series.quantile`, если не знаете, что это такое – прочитайте)
- вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

Это вовсе не вся чистка данных, которую можно было проделать, но пока остановимся на этом.

Сколько процентов данных (округленно, `round`) мы выбросили?

**<font color='red'>Варианты:</font>**
- 8
- 9
- 10
- 11

In [24]:
# Ваш код здесь
wrong_ap_lo = df[df.ap_lo > df.ap_hi].index
wrong_height = df[(df.height < df.height.quantile(q=0.025)) | (df.height > df.height.quantile(q=0.975))].index
wrong_weight = df[(df.weight < df.weight.quantile(q=0.025)) | (df.weight > df.weight.quantile(q=0.975))].index

indices_to_remove = np.append(wrong_ap_lo, np.append(wrong_height, wrong_weight))

In [25]:
filtered_df = df.drop(indices_to_remove)

In [26]:
per_cent_of_df_left = filtered_df.shape[0] / df.shape[0] * 100
print("Мы выбросили {} процентов данных.".format(100 - int(round(per_cent_of_df_left))))

Мы выбросили 10 процентов данных.